*{
    box-sizing: border-box;
    margin: 0;
}


h1{
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}


body{
    background-image: url("./background\ icon.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
}


.container{
    
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    padding: 20px;
    align-self: center;
    border-radius: 25px;
}


.row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container>.row{
    width: 100%;
    justify-content: space-evenly;
}


.pic{
    border-radius: 50%;
    border: 2px solid black;
}


.name{
    color: black;
    font-size: x-large;
    font-style: bold;
}


.score{
    color: whitesmoke;
    font-size: x-large;
    margin: 20px;
    align-self: center;
}


.goals{
    color:black;
    font-size: x-large;
    width: 200px;
    justify-content: space-evenly;
}


#strike{
    background-color:white ;
    font-size:x-large;
    width:300px;
    height:200 px;
    color:black;
    margin-top: 50px;
    border-radius: 25px;
    outline: none;
    border: 3px solid black;

}


#try{
    background-color:white;
    font-size:x-large;
    width:300px;
    height:200 px;
    color:black;
    margin-top: 50px;
    border-radius: 25px;
    outline: none;
    border: 3px solid black;
}


#circle{
    display: inline-block;
}


#result{
    background-image: linear-gradient(to right,black,white);
    font-size: x-large;
    color:white;
    text-align: center;
    border-radius: 25px;
    margin-top: 50px;
}


#team1scores{
    margin-top: 20px;
}
